<section class="sp_l-centered sp_gifts">
  <h1 class="sp_gifts__head this-center">Подарки</h1>
  <div class="sp_gifts__title this-center">Покупайте подарки за баллы</div>

  <div class="sp_gifts-items-wr" ng-show="vm.available_gifts.length">
    <!-- 
      -->
      <sp-gift ng-repeat="gift in vm.available_gifts" gift="gift" purchase-fn="vm.purchaseGift"></sp-gift>
    <!-- 
      -->
    <a href="javascript:void(0)" class="sp_common-btn this-white sp_lkgifts-btn">Показать все подарки</a>
  </div>
  <!-- /items wr -->
  <p ng-show="!vm.available_gifts.length" style="text-align: center;">
  	К сожалению, у нас пока нет подарков для вас. Попробуйте завтра )
  </p>
</section>