<div class="sp_giftitm__col">
  <div class="sp_giftitm">
    <div class="sp_giftitm__over">
      <a href="javascript:void(0)" class="sp_giftitm__btn">Получить</a>
    </div>
    <div class="sp_giftitm__inner">
      <div class="sp_giftitm__img" style="background-image: url('{{gift.thumbs.url_250x250}}');"></div>
      <div class="sp_giftitm__info">{{gift.name}}</div>
      <div class="sp_giftitm__price"><span class="sp_giftitm__price-val">{{gift.points}}</span> баллов</div>
    </div>
  </div>
</div>