<section class="sp_l-section sp_history">
  <div class="sp_history__col this-col1">
    <div class="sp_person-b">
      <div class="sp_person-b__img" style="background-image: url('{{vm.user.pic}}');"></div>
      <div class="sp_person-b__st-title">Ваш статус</div>
      <div class="sp_person-b__stat">НАЧИНАЮЩИЙ</div>

      <div class="sp_person-b__info">
        <span class="sp_person-b__info-itm">{{vm.user.name}} &nbsp;</span>
        <span class="sp_person-b__info-itm">8(999)804-60-94</span>
        <span class="sp_person-b__info-itm">me@maxzaytsev.com</span>
      </div>
    </div>
  </div>
  <!-- /col1 -->
  <div class="sp_history__col this-col2">
    <div class="sp_hist-list">
      <div class="sp_hist-list__head">Здравствуйте, {{vm.user.name}}</div>
      <div class="sp_hist-list__ttl">Ваши последние действия</div>

      <div class="sp_hist-itm">
        <div class="sp_hist-itm__img" style="background-image: url('app/image/hist-itm-01.jpg');"></div>
        <div class="sp_hist-itm__inner">
          <div class="sp_hist-itm__info">27 / 03 / 2016</div>
          <div class="sp_hist-itm__info-row">
            <div class="sp_hist-itm__price">+ 200 баллов</div>
            <div class="sp_hist-itm__name">Держатель для пропуска-карточки ‘Little Fox’</div>
          </div>
          <div class="sp_hist-itm__info">Количество: 2</div>
        </div>
      </div>
      <!-- /item -->

      <div class="sp_hist-itm">
        <div class="sp_hist-itm__img" style="background-image: url('app/image/hist-friend.png');"></div>
        <div class="sp_hist-itm__inner">
          <div class="sp_hist-itm__info">27 / 03 / 2016</div>
          <div class="sp_hist-itm__info-row">
            <div class="sp_hist-itm__price">+ 30 баллов</div>
            <div class="sp_hist-itm__name">Приглашен 1 друг</div>
          </div>
        </div>
      </div>
      <!-- /item -->

      <div class="sp_hist-itm">
        <div class="sp_hist-itm__img" style="background-image: url('app/image/hist-friend.png');"></div>
        <div class="sp_hist-itm__inner">
          <div class="sp_hist-itm__info">27 / 03 / 2016</div>
          <div class="sp_hist-itm__info-row">
            <div class="sp_hist-itm__price">+ 30 баллов</div>
            <div class="sp_hist-itm__name">Приглашен 1 друг</div>
          </div>
        </div>
      </div>
      <!-- /item -->

      <a href="#" class="sp_common-btn this-white sp_lkhist-btn">История действий</a>



    </div>
  </div>
  <!-- /col2 -->
  <div class="sp_history__col this-col3">
    <div class="sp_history-count">
      <div class="sp_history-count__val">{{vm.user_points.confirmed}}</div>
      <div ng-show="vm.user_points.unconfirmed > 0">
        <div class="sp_history-count__plus">+</div>
        <div class="sp_history-count__remain">550</div>
        <div class="sp_history-count__ttl">Неподтвержденных</div>
      </div>
      <div>баллов</div>
    </div>
  </div>
  <!-- /col3 -->
</section>