<section class="sp_l-section sp_status-bar-sec js-status-bar-wrap">
  <div class="sp_status-icons">
    <div class="sp_status-icons__item js-point this-point-1">
      <div class="sp_status-icons__img"><img src="app/image/status-01.png" alt=""></div>
      <div class="sp_status-icons__img this-active-img"><img src="app/image/status-01-active.png" alt=""></div>
      <div class="sp_status-icons__text">Начинающий</div>
    </div>
    <div class="sp_status-icons__item js-point this-point-2">
      <div class="sp_status-icons__img"><img src="app/image/status-02.png" alt=""></div>
      <div class="sp_status-icons__img this-active-img"><img src="app/image/status-02-active.png" alt=""></div>
      <div class="sp_status-icons__text">Продвинутый</div>
    </div>
    <div class="sp_status-icons__item js-point this-point-3">
      <div class="sp_status-icons__img"><img src="app/image/status-02.png" alt=""></div>
      <div class="sp_status-icons__img this-active-img"><img src="app/image/status-02-active.png" alt=""></div>
      <div class="sp_status-icons__text">Superman</div>
    </div>
  </div>
  <div class="sp_status-bar ">
    <div class="sp_status-bar__inner js-bar" data-progress="34" style="width: {{vm.user_points.confirmed * 100 / vm.max_points}}%;" title="{{vm.user_points.confirmed}} баллов"></div>
  </div>
  <div class="sp_stbar-titles">
    <div class="sp_stbar-titles__item"></div>
    <div class="sp_stbar-titles__item">{{vm.max_points / 2}} баллов</div>
    <div class="sp_stbar-titles__item">{{vm.max_points}} баллов</div>
  </div>
</section>