<section class="sp_l-centered sp_tasks-sec">
  <h1 class="sp_tasks-sec__head this-center">Задания</h1>
  <div class="sp_tasks-sec__title this-center">Выполняйте задания – получайте баллы</div>

  <div class="sp_tasks-sec__row">
    <div class="sp_tasks-sec__col">
      <a href="#" class="sp_tasks-cell">
        <span class="sp_tasks-cell__icon" style="background-image: url(app/image/task-icon-01.png);"></span>
        <span class="sp_tasks-cell__txt">
                          <span class="sp_tasks-cell__txt-in">
                              Пригласить друга или подругу
                          </span>
        </span>
        <span class="sp_tasks-cell__count">+ 100 баллов</span>
      </a>
    </div>
    <!-- col -->

    <div class="sp_tasks-sec__col">
      <a href="#" class="sp_tasks-cell">
        <span class="sp_tasks-cell__icon" style="background-image: url(app/image/task-icon-02.png);"></span>
        <span class="sp_tasks-cell__txt">
                          <span class="sp_tasks-cell__txt-in">
                              Вступить в группу Facebook
                          </span>
        </span>
        <span class="sp_tasks-cell__count">+ 500 баллов</span>
      </a>
    </div>
    <!-- col -->

    <div class="sp_tasks-sec__col">
      <a href="#" class="sp_tasks-cell">
        <span class="sp_tasks-cell__icon" style="background-image: url(app/image/task-icon-03.png);"></span>
        <span class="sp_tasks-cell__txt">
                          <span class="sp_tasks-cell__txt-in">
                              Заполнить профиль
                          </span>
        </span>
        <span class="sp_tasks-cell__count">+ 50 баллов</span>
      </a>
    </div>
    <!-- col -->

    <div class="sp_tasks-sec__col">
      <a href="#" class="sp_tasks-cell">
        <span class="sp_tasks-cell__icon" style="background-image: url(app/image/task-icon-04.png);"></span>
        <span class="sp_tasks-cell__txt">
                          <span class="sp_tasks-cell__txt-in">
                              Партнерская программа
                          </span>
        </span>
        <span class="sp_tasks-cell__count">+ 50 баллов</span>
      </a>
    </div>
    <!-- col -->
  </div>
  <!-- /row -->

  <div class="sp_tasks-sec__row">
    <div class="sp_tasks-sec__col">
      <a href="#" class="sp_tasks-cell">
        <span class="sp_tasks-cell__icon" style="background-image: url(app/image/task-icon-01.png);"></span>
        <span class="sp_tasks-cell__txt">
                          <span class="sp_tasks-cell__txt-in">
                              Пригласить друга или подругу
                          </span>
        </span>
        <span class="sp_tasks-cell__count">+ 100 баллов</span>
      </a>
    </div>
    <!-- col -->

    <div class="sp_tasks-sec__col">
      <a href="#" class="sp_tasks-cell">
        <span class="sp_tasks-cell__icon" style="background-image: url(app/image/task-icon-02.png);"></span>
        <span class="sp_tasks-cell__txt">
                          <span class="sp_tasks-cell__txt-in">
                              Вступить в группу Facebook
                          </span>
        </span>
        <span class="sp_tasks-cell__count">+ 500 баллов</span>
      </a>
    </div>
    <!-- col -->

    <div class="sp_tasks-sec__col">
      <a href="#" class="sp_tasks-cell">
        <span class="sp_tasks-cell__icon" style="background-image: url(app/image/task-icon-03.png);"></span>
        <span class="sp_tasks-cell__txt">
                          <span class="sp_tasks-cell__txt-in">
                              Заполнить профиль
                          </span>
        </span>
        <span class="sp_tasks-cell__count">+ 50 баллов</span>
      </a>
    </div>
    <!-- col -->

    <div class="sp_tasks-sec__col">
      <a href="#" class="sp_tasks-cell">
        <span class="sp_tasks-cell__icon" style="background-image: url(app/image/task-icon-04.png);"></span>
        <span class="sp_tasks-cell__txt">
                          <span class="sp_tasks-cell__txt-in">
                              Партнерская программа
                          </span>
        </span>
        <span class="sp_tasks-cell__count">+ 50 баллов</span>
      </a>
    </div>
    <!-- col -->
  </div>
  <!-- /row -->
</section>