@font-face {
  font-family: 'proxima_nova_bold';
  src: url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.eot');
  src: url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.woff2') format('woff2'), url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.woff') format('woff'), url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.eot');
  src: url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.woff2') format('woff2'), url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.woff') format('woff'), url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.sp_l-centered,
.sp_l-section {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 980px;
}
@media (max-width: 767px) {
  .sp_l-centered,
  .sp_l-section {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 479px) {
  .sp_l-centered,
  .sp_l-section {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1;
}
body.data-loaded::before {
  display: none;
}
.sp_l-section {
  overflow: hidden;
}
.sp_common-btn {
  height: 38px;
  width: 100%;
  background-color: #00a897;
  cursor: pointer;
  font-family: 'proxima_nova_bold', sans-serif;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  line-height: 38px;
  color: #fff;
  border: none;
  display: block;
  outline: none !important;
  outline: 1px solid white;
  outline-offset: -2px;
}
.sp_common-btn:link {
  color: #ffffff;
}
.sp_common-btn:visited {
  color: #ffffff;
}
.sp_common-btn:hover {
  color: #ffffff;
}
.sp_common-btn:active {
  color: #ffffff;
}
.sp_common-btn:active,
.sp_common-btn:focus {
  outline: none !important;
}
.sp_common-btn:hover {
  background-color: #00b7a5;
}
.sp_common-btn:active {
  background-color: #008f80;
}
.sp_common-btn.this-white {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  color: #000;
}
.sp_common-btn.this-white:link {
  color: #000000;
}
.sp_common-btn.this-white:visited {
  color: #000000;
}
.sp_common-btn.this-white:hover {
  color: #000000;
}
.sp_common-btn.this-white:active {
  color: #000000;
}
.sp_common-btn.this-white:hover {
  background-color: #f7f7f7;
}
.sp_common-btn.this-white:active {
  background-color: #ededed;
}
/* forms */
.sp_common-input {
  display: block;
  width: 100%;
  height: 25px;
  padding: 0 7px;
  border: 1px solid #adadad;
  font-family: 'proxima_nova', sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #333333;
  -webkit-transition: border-color 150ms linear 0ms;
  transition: border-color 150ms linear 0ms;
}
.sp_common-input:active,
.sp_common-input:focus {
  outline: none !important;
  border-color: #878787;
}
.sp_common-input::-webkit-input-placeholder {
  color: #b3b3b3;
}
.sp_common-input::-moz-placeholder {
  color: #b3b3b3;
}
.sp_common-input:-moz-placeholder {
  color: #b3b3b3;
}
.sp_common-input:-ms-input-placeholder {
  color: #b3b3b3;
}
.sp_common-textarea {
  display: block;
  width: 100%;
  padding: 9px 7px;
  border: 1px solid #adadad;
  font-family: 'proxima_nova', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #333333;
  height: 100px;
  -webkit-transition: border-color 150ms linear 0ms;
  transition: border-color 150ms linear 0ms;
  resize: none;
}
.sp_common-textarea:active,
.sp_common-textarea:focus {
  outline: none !important;
  border-color: #878787;
}
.sp_common-textarea::-webkit-input-placeholder {
  color: #b3b3b3;
}
.sp_common-textarea::-moz-placeholder {
  color: #b3b3b3;
}
.sp_common-textarea:-moz-placeholder {
  color: #b3b3b3;
}
.sp_common-textarea:-ms-input-placeholder {
  color: #b3b3b3;
}
.sp_common-block-param {
  display: block;
  padding-left: 28px;
  position: relative;
  margin-bottom: 22px;
}
.sp_common-block-param:last-child {
  margin-bottom: 0;
}
.sp_common-block-param label {
  display: none;
}
.sp_common-label {
  font-size: 14px;
  line-height: 1;
  font-family: 'proxima_nova', sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sp_common-check-wr {
  display: inline-block;
}
.sp_common-check-wr a {
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid #adadad;
  left: 0px;
  top: 2px;
}
.sp_common-check-wr a.checked {
  background: url("../image/checkbox-arrow.png") no-repeat center;
}
.sp_profile {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'proxima_nova', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.42857143;
  color: #262626;
  margin-top: 50px;
  margin-bottom: 50px;
}
.sp_profile:before,
.sp_profile:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sp_profile * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sp_profile *:before,
.sp_profile *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sp_profile a,
.sp_profile a:hover,
.sp_profile a:focus {
  text-decoration: none;
  outline: none;
}
.sp_profile h1,
.sp_profile h2,
.sp_profile h3,
.sp_profile h4,
.sp_profile h5,
.sp_profile h6 {
  font-weight: normal;
}
.sp_profile ul,
.sp_profile ol {
  list-style: none;
}
.sp_profile__head {
  font-size: 18px;
  line-height: 1;
  color: #000;
  font-family: 'proxima_nova_bold', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 44px;
}
.sp_profile__in {
  width: 100%;
  max-width: 532px;
  margin-bottom: 20px;
}
.sp_profile__in:before,
.sp_profile__in:after {
  content: " ";
  display: table;
}
.sp_profile__in:after {
  clear: both;
}
.sp_profile__left {
  width: 50%;
  float: left;
  padding-right: 48px;
}
@media (max-width: 767px) {
  .sp_profile__left {
    width: 100%;
    padding-right: 0;
  }
}
.sp_profile__right {
  width: 50%;
  float: left;
  padding-left: 48px;
}
@media (max-width: 767px) {
  .sp_profile__right {
    width: 100%;
    padding-left: 0;
  }
}
.sp_profile__set {
  margin-bottom: 22px;
}
.sp_profile__inp-title {
  font-size: 12px;
  line-height: 1;
  margin-bottom: 10px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
}
.sp_profile__submit {
  width: 100%;
  max-width: 196px;
}
.sp_intview {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'proxima_nova', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.42857143;
  color: #262626;
  margin-top: 50px;
  margin-bottom: 30px;
}
.sp_intview:before,
.sp_intview:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sp_intview * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sp_intview *:before,
.sp_intview *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sp_intview a,
.sp_intview a:hover,
.sp_intview a:focus {
  text-decoration: none;
  outline: none;
}
.sp_intview h1,
.sp_intview h2,
.sp_intview h3,
.sp_intview h4,
.sp_intview h5,
.sp_intview h6 {
  font-weight: normal;
}
.sp_intview ul,
.sp_intview ol {
  list-style: none;
}
.sp_intview__head {
  font-size: 18px;
  line-height: 1;
  color: #000;
  font-family: 'proxima_nova_bold', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.sp_intview__title {
  font-size: 14px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
}
.sp_intview__quest-wr {
  margin-top: 44px;
  margin-bottom: 30px;
}
.sp_intview__quest {
  font-size: 18px;
  line-height: 1.43;
  margin-bottom: 25px;
}
.sp_intview__textarea {
  height: 75px;
  max-width: 300px;
}
.sp_gifts {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'proxima_nova', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.42857143;
  color: #262626;
  margin-top: 70px;
  margin-bottom: 70px;
}
.sp_gifts:before,
.sp_gifts:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sp_gifts * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sp_gifts *:before,
.sp_gifts *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sp_gifts a,
.sp_gifts a:hover,
.sp_gifts a:focus {
  text-decoration: none;
  outline: none;
}
.sp_gifts h1,
.sp_gifts h2,
.sp_gifts h3,
.sp_gifts h4,
.sp_gifts h5,
.sp_gifts h6 {
  font-weight: normal;
}
.sp_gifts ul,
.sp_gifts ol {
  list-style: none;
}
.sp_gifts__head {
  font-size: 18px;
  line-height: 1;
  color: #000;
  font-family: 'proxima_nova_bold', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.sp_gifts__head.this-center {
  text-align: center;
}
.sp_gifts__title {
  font-size: 14px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
}
.sp_gifts__title.this-center {
  text-align: center;
}
.sp_gifts-items-wr {
  margin-top: 41px;
  margin-bottom: 40px;
  margin-left: -20px;
  margin-right: -20px;
}
@media (max-width: 991px) {
  .sp_gifts-items-wr {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.sp_giftitm {
  position: relative;
  vertical-align: top;
  background-color: #fff;
}
.sp_giftitm__col {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  padding: 0 25px;
  margin-bottom: 68px;
}
@media (max-width: 991px) {
  .sp_giftitm__col {
    width: 33.3333%;
  }
}
@media (max-width: 767px) {
  .sp_giftitm__col {
    width: 50%;
  }
}
@media (max-width: 479px) {
  .sp_giftitm__col {
    width: 100%;
  }
}
.sp_giftitm:hover {
  z-index: 2;
}
.sp_giftitm:hover .sp_giftitm__over {
  display: block;
}
.sp_giftitm__inner {
  position: relative;
  padding: 0 0px 16px;
}
.sp_giftitm__img {
  display: block;
  width: 220px;
  height: 180px;
  width: 100%;
  max-width: 205px;
  margin: 0 auto 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.sp_giftitm__info {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 23px;
}
.sp_giftitm__price {
  font-size: 14px;
  line-height: 1;
  font-family: 'proxima_nova_bold', sans-serif;
}
.sp_giftitm__price-val {
  font-size: 19px;
}
.sp_giftitm__over {
  display: none;
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -58px;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  transition: opacity ease .2s;
}
.sp_giftitm__btn {
  display: block;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  height: 38px;
  color: #fff;
  background-color: #f26522;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'proxima_nova_bold', sans-serif;
  line-height: 39px;
  cursor: pointer;
}
.sp_giftitm__btn:link {
  color: #ffffff;
}
.sp_giftitm__btn:visited {
  color: #ffffff;
}
.sp_giftitm__btn:hover {
  color: #ffffff;
}
.sp_giftitm__btn:active {
  color: #ffffff;
}
.sp_giftitm__btn:hover {
  background-color: #ed560e;
}
.sp_giftitm__btn:active {
  background-color: #de500d;
}
.sp_giftitm__btn[disabled] {
  opacity: .5;
}
.sp_giftitm__hit {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #00a897;
  padding: 1px 12px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'proxima_nova_bold', sans-serif;
  font-size: 16px;
}
.sp_history {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'proxima_nova', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.42857143;
  color: #262626;
  margin-top: 50px;
  margin-bottom: 30px;
}
.sp_history:before,
.sp_history:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sp_history * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sp_history *:before,
.sp_history *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sp_history a,
.sp_history a:hover,
.sp_history a:focus {
  text-decoration: none;
  outline: none;
}
.sp_history h1,
.sp_history h2,
.sp_history h3,
.sp_history h4,
.sp_history h5,
.sp_history h6 {
  font-weight: normal;
}
.sp_history ul,
.sp_history ol {
  list-style: none;
}
.sp_history:before,
.sp_history:after {
  content: " ";
  display: table;
}
.sp_history:after {
  clear: both;
}
.sp_history__col {
  float: left;
}
.sp_history__col.this-col1 {
  width: 22.96%;
}
@media (max-width: 991px) {
  .sp_history__col.this-col1 {
    width: 100%;
    margin-bottom: 30px;
  }
}
.sp_history__col.this-col2 {
  width: 55%;
  padding: 0 70px;
}
@media (max-width: 991px) {
  .sp_history__col.this-col2 {
    width: 70%;
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .sp_history__col.this-col2 {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
}
.sp_history__col.this-col3 {
  width: 22.04%;
  padding-top: 65px;
}
@media (max-width: 991px) {
  .sp_history__col.this-col3 {
    width: 30%;
  }
}
@media (max-width: 767px) {
  .sp_history__col.this-col3 {
    width: 100%;
    padding-top: 0;
  }
}
.sp_person-b__img {
  width: 113px;
  height: 113px;
  margin: 0 auto 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}
.sp_person-b__st-title {
  font-size: 14px;
  line-height: 1;
  text-align: center;
  font-style: italic;
  font-family: Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 8px;
}
.sp_person-b__stat {
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  font-family: 'proxima_nova_bold', sans-serif;
  text-align: center;
}
.sp_person-b__info {
  margin-top: 28px;
  text-align: center;
  font-size: 12px;
}
.sp_person-b__info-itm {
  display: block;
  margin-bottom: 3px;
}
.sp_person-b__info-itm:last-child {
  margin-bottom: 0;
}
.sp_hist-list__head {
  font-size: 20px;
  font-family: 'proxima_nova_bold', sans-serif;
  margin-bottom: 6px;
}
.sp_hist-list__ttl {
  font-size: 14px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  margin-bottom: 14px;
}
.sp_hist-itm {
  margin-bottom: 20px;
}
.sp_hist-itm:before,
.sp_hist-itm:after {
  content: " ";
  display: table;
}
.sp_hist-itm:after {
  clear: both;
}
.sp_hist-itm:last-child {
  margin-bottom: 0;
}
@media (max-width: 479px) {
  .sp_hist-itm {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ECECEC;
  }
}
.sp_hist-itm__img {
  display: block;
  float: left;
  width: 59px;
  height: 59px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 4px;
}
@media (max-width: 479px) {
  .sp_hist-itm__img {
    float: none;
    margin-bottom: 7px;
  }
}
.sp_hist-itm__inner {
  margin-left: 73px;
  font-size: 12px;
  line-height: 1.45;
}
@media (max-width: 479px) {
  .sp_hist-itm__inner {
    margin-left: 0;
  }
}
.sp_hist-itm__info {
  color: #868686;
}
.sp_hist-itm__name {
  margin-right: 115px;
}
.sp_hist-itm__price {
  float: right;
  width: 115px;
  font-size: 14px;
  line-height: 1;
  font-family: 'proxima_nova_bold', sans-serif;
  text-align: right;
}
.sp_history-count {
  text-align: center;
}
.sp_history-count__val {
  font-size: 90px;
  line-height: 80px;
  font-family: 'proxima_nova_bold', sans-serif;
  color: #f26522;
}
.sp_history-count__plus {
  font-size: 25px;
  line-height: 1;
  margin-bottom: 5px;
  color: #f26522;
  font-family: 'proxima_nova_bold', sans-serif;
}
.sp_history-count__remain {
  font-size: 25px;
  line-height: 1;
  color: #f26522;
  font-family: 'proxima_nova_bold', sans-serif;
}
.sp_history-count__ttl {
  font-size: 14px;
  line-height: 1.43;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  margin-top: 1px;
}
.sp_paginate {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'proxima_nova', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.42857143;
  color: #262626;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'proxima_nova_bold', sans-serif;
}
.sp_paginate:before,
.sp_paginate:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sp_paginate * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sp_paginate *:before,
.sp_paginate *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sp_paginate a,
.sp_paginate a:hover,
.sp_paginate a:focus {
  text-decoration: none;
  outline: none;
}
.sp_paginate h1,
.sp_paginate h2,
.sp_paginate h3,
.sp_paginate h4,
.sp_paginate h5,
.sp_paginate h6 {
  font-weight: normal;
}
.sp_paginate ul,
.sp_paginate ol {
  list-style: none;
}
.sp_paginate:before,
.sp_paginate:after {
  content: " ";
  display: table;
}
.sp_paginate:after {
  clear: both;
}
.sp_paginate__inner {
  float: right;
}
.sp_paginate__inner:before,
.sp_paginate__inner:after {
  content: " ";
  display: table;
}
.sp_paginate__inner:after {
  clear: both;
}
.sp_paginate__item {
  display: block;
  float: left;
  width: 38px;
  height: 38px;
  border: 1px solid #ECECEC;
  text-align: center;
  font-size: 14px;
  line-height: 38px;
}
.sp_paginate__item:link {
  color: #000000;
}
.sp_paginate__item:visited {
  color: #000000;
}
.sp_paginate__item:hover {
  color: #000000;
}
.sp_paginate__item:active {
  color: #000000;
}
.sp_paginate__item:hover {
  background-color: #f5f5f5;
}
.sp_paginate__item.this-active {
  background-color: #ECECEC;
  color: #fff;
}
.sp_paginate__item.this-active:link {
  color: #ffffff;
}
.sp_paginate__item.this-active:visited {
  color: #ffffff;
}
.sp_paginate__item.this-active:hover {
  color: #ffffff;
}
.sp_paginate__item.this-active:active {
  color: #ffffff;
}
.sp_lkhist-btn {
  width: 220px;
}
.sp_lkgifts-btn {
  width: 220px;
  margin: 30px auto 0;
}
.sp_status-bar-sec {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'proxima_nova', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.42857143;
  color: #262626;
  margin-top: 50px;
  margin-bottom: 30px;
}
.sp_status-bar-sec:before,
.sp_status-bar-sec:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sp_status-bar-sec * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sp_status-bar-sec *:before,
.sp_status-bar-sec *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sp_status-bar-sec a,
.sp_status-bar-sec a:hover,
.sp_status-bar-sec a:focus {
  text-decoration: none;
  outline: none;
}
.sp_status-bar-sec h1,
.sp_status-bar-sec h2,
.sp_status-bar-sec h3,
.sp_status-bar-sec h4,
.sp_status-bar-sec h5,
.sp_status-bar-sec h6 {
  font-weight: normal;
}
.sp_status-bar-sec ul,
.sp_status-bar-sec ol {
  list-style: none;
}
.sp_status-icons {
  text-align: justify;
  line-height: 0;
  margin-bottom: 15px;
}
.sp_status-icons:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.sp_status-icons__item {
  width: 100px;
  max-width: 30%;
  display: inline-block;
}
.sp_status-icons__item.this-active .sp_status-icons__text {
  color: #f26522;
}
.sp_status-icons__item.this-active .sp_status-icons__img {
  display: none;
}
.sp_status-icons__item.this-active .sp_status-icons__img.this-active-img {
  display: block;
}
.sp_status-icons__img {
  margin-bottom: 10px;
}
.sp_status-icons__img img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.sp_status-icons__img.this-active-img {
  display: none;
}
.sp_status-icons__text {
  text-align: center;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  color: #000;
  font-family: 'proxima_nova_bold', sans-serif;
}
.sp_status-bar {
  width: 100%;
  position: relative;
  height: 18px;
  background-color: #E6E6E6;
}
.sp_status-bar:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  background-color: #fff;
  width: 2px;
  left: 50%;
  margin-left: -1px;
}
.sp_status-bar__inner {
  position: absolute;
  height: 100%;
  width: 0%;
  left: 0;
  top: 0;
  background-color: #f26522;
  -webkit-transition: width 500ms ease-out 0ms;
  transition: width 500ms ease-out 0ms;
}
.sp_stbar-titles {
  margin-top: 8px;
  text-align: justify;
}
.sp_stbar-titles:after {
  display: inline-block;
  content: "";
  width: 100%;
}
.sp_stbar-titles__item {
  display: inline-block;
  width: 100px;
  max-width: 30%;
  text-align: center;
  font-size: 12px;
}
.sp_tasks-sec {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'proxima_nova', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.42857143;
  color: #262626;
  margin-top: 40px;
  margin-bottom: 40px;
}
.sp_tasks-sec:before,
.sp_tasks-sec:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sp_tasks-sec * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sp_tasks-sec *:before,
.sp_tasks-sec *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sp_tasks-sec a,
.sp_tasks-sec a:hover,
.sp_tasks-sec a:focus {
  text-decoration: none;
  outline: none;
}
.sp_tasks-sec h1,
.sp_tasks-sec h2,
.sp_tasks-sec h3,
.sp_tasks-sec h4,
.sp_tasks-sec h5,
.sp_tasks-sec h6 {
  font-weight: normal;
}
.sp_tasks-sec ul,
.sp_tasks-sec ol {
  list-style: none;
}
.sp_tasks-sec__head {
  font-size: 18px;
  line-height: 1;
  color: #000;
  font-family: 'proxima_nova_bold', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.sp_tasks-sec__head.this-center {
  text-align: center;
}
.sp_tasks-sec__title {
  font-size: 14px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  margin-bottom: 35px;
}
.sp_tasks-sec__title.this-center {
  text-align: center;
}
.sp_tasks-sec__row {
  margin-left: -16px;
  margin-right: -16px;
}
.sp_tasks-sec__row:before,
.sp_tasks-sec__row:after {
  content: " ";
  display: table;
}
.sp_tasks-sec__row:after {
  clear: both;
}
.sp_tasks-sec__row:last-child {
  margin-bottom: 0;
}
.sp_tasks-sec__col {
  padding-left: 16px;
  padding-right: 16px;
  float: left;
  width: 25%;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .sp_tasks-sec__col {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .sp_tasks-sec__col {
    width: 100%;
  }
}
.sp_tasks-cell {
  display: block;
  min-height: 114px;
  position: relative;
  border: 1px solid #e6e6e6;
  padding-left: 56px;
  padding-right: 15px;
  padding-bottom: 10px;
  color: #000000;
}
.sp_tasks-cell:link {
  color: #000000;
}
.sp_tasks-cell:visited {
  color: #000000;
}
.sp_tasks-cell:hover {
  color: #000000;
}
.sp_tasks-cell:active {
  color: #000000;
}
.sp_tasks-cell:hover {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
}
.sp_tasks-cell__icon {
  width: 56px;
  height: 56px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 10px;
}
.sp_tasks-cell__txt {
  display: table;
  width: 100%;
  height: 77px;
  font-size: 14px;
}
.sp_tasks-cell__txt-in {
  display: table-cell;
  vertical-align: middle;
}
.sp_tasks-cell__count {
  font-size: 18px;
  line-height: 1;
  color: #00a897;
  font-family: 'proxima_nova_bold', sans-serif;
}
